<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/tabela.css">
	<link rel="stylesheet" type="text/css" href="css/glavno.css">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/navbar.css"/>
	
	<title>Žanrovi</title>
</head>
<body>


<div class="container" style="padding: 100px;">
<h1>Izveštavanje za uneti opseg datuma </h1>
<hr>
		<div style="margin-bottom: 100px;">
			<table class="tabla tabela" style="margin-bottom: 100px;">
				<tr>
					<th>Naziv</th>
					<th>Autor</th>
					<th>Ukupna Cena</th>
					<th>Broj prodatih</th>
				</tr>
				<tr th:each="itIzvestavanja, status: ${izvestavanje}">
					<td><a th:href="|Details?id=${itIzvestavanja.knjiga.id}|" th:text="${itIzvestavanja.naziv}"></a></td>
					<td th:text="${itIzvestavanja.autor}"></td>
					<td th:text="${itIzvestavanja.sumaIzvestanje}"></td>
					<td th:text="${itIzvestavanja.brojKnjiga}"></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td th:text="${kg.ukupnaCena}"></td>
					<td th:text="${kg.ukupnaKnjiga}"></td>
				
				</tr>
			</table>
			</div>
	</div>
</body>
</html>