<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/navbar.css"/>
			 <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="css/glavno.css">
		
	<style>
		.collapsible {
		  background-color: #044855;
		  color: white;
		  cursor: pointer;
		  padding: 18px;
		  width: 100%;
		  border: none;
		  text-align: center;
		  outline: none;
		  font-size: 20px;
		}
		
		.active, .collapsible:hover {
		  background-color: #555;
		}
		
		.content {
		  padding: 0 18px;
		  display: none;
		  overflow: hidden;
		  background-color: #f1f1f1;

		}
	body  {
	  background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/78/44/Vc8L5e.jpg");
	  background-color: #cccccc;
	}
</style>
	

	<title>Knjiga</title>
</head>
<body>
<ul class="navbar">
		<li style="font-family: 'Pacifico', cursive;font-size: 31px;color: white; margin-left: 10px; " ><a href="/Knjizara">Лексикограф</a></li>
		<li th:if="${session.prijavljeniKorisnik == null}"><a href="prijava.html">prijava</a></li>
		<li th:if="${session.prijavljeniKorisnik == null}" ><a href="registracija.html">Registracija</a></li>
		<li><a href="Zanrovi">žanrovi</a></li>
		<li><a>Komentari</a></li>
</ul>

	<div class="container" style="background-color: white; padding: 10px;">
	
	<div th:fragment="centralniDiv">
		
		<table style="margin-left: 180px;
    margin-top: 5%;
    width: 800px;
    font-size: 21px;" class="forma table">
			<tr style="background-color: #044855;"><td style="background-color: #044855;" colspan="2"><img style="width: 420px;height: 470px; padding-left: 13%" th:src="${knjiga.slikaKnjige}"></td>
			<tr><th>Naziv:</th><td th:text="${knjiga.naziv}"></td>
			<tr><th>Autor:</th><td th:text="${knjiga.autor}"></td>
			<tr><th>Izdavac:</th><td th:text="${knjiga.izdavackaKuca}"></td>
			<tr><th>ISBN:</th><td th:text="${knjiga.ISBN}"></td>
			<tr><th>Godina Izdavanja:</th><td th:text="${knjiga.godinaIzdavanja}"></td>
			<tr><th>Kratak Opis:</th><td th:text="${knjiga.kratakOpis}"></td>
			<tr><th>Broj Stranica:</th><td th:text="${knjiga.brojStrana}"></td>
			<tr><th>Tip Poveza:</th><td th:text="${knjiga.tipPoveza}"></td>
			<tr><th>Pismo:</th><td th:text="${knjiga.pismo}"></td>
			<tr><th>Jezik:</th><td th:text="${knjiga.jezik}"></td>
			<tr><th>Ocena:</th><td th:text="${knjiga.ocena}"></td>
			<tr th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><th>Kolicina:</th><td>
						<form method="post" action="EditKolicina" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
			<input type="hidden" name="id" th:value="${knjiga.id}"/>
			<table class="forma">
				<tr><th>Poruci:</th><td><input type="number" required th:value="${knjiga.kolicina}" name="kolicina"/></td></tr>
				<tr><th></th><td><input type="submit" value="Poruci Kolicinu"/></td></tr>
			</table>
		</form>
			
			
			
			
			</td>
			
			<tr>
				<th>žanr:</th>
				<td>
					<ul>
						<li th:each="itZanr: ${knjiga.zanrovi}"><a th:href="|Zanrovi/Details?id=${itZanr.id}|" th:text="${itZanr.naziv}"></a></li>
					</ul>
				</td>
			</tr>
			<tr><th>cena:</th><td th:text="${knjiga.cena}"></td>
			
			<tr th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == false}"><th>Korpa:</th><td><button type="button" class="btn btn-primary btn-lg">U korpu</button>
			<button type="button" class="btn btn-secondary btn-lg">Lista zelja</button></td>
			
		</table>
		<hr>
		
		
		
		
	</div>
	
	
	
	
	
	
	<button th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}" type="button" class="collapsible">Izmeni Knjigu</button>
	
	<div class= "content">
			<form style="margin-left: 25%" method="post" action="Edit" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
			<input type="hidden" name="id" th:value="${knjiga.id}"/>
			<table class="forma">
				<caption>Knjiga</caption>
				<tr><th>Naziv:</th><td><input required type="text" th:value="${knjiga.naziv}" name="naziv"/></td></tr>
				<tr><th>Autor:</th><td><input required type="text" th:value="${knjiga.autor}" name="autor"/></td></tr>
				<tr><th>Izdavac:</th><td><input required type="text" th:value="${knjiga.izdavackaKuca}" name="izdavac"/></td></tr>
				<tr><th>isbn:</th><td><input readonly th:value="${knjiga.ISBN}" name="isbn"/></td></tr>
				<tr><th>Godina Izdanja:</th><td><input required type="text" th:value="${knjiga.godinaIzdavanja}" name="godinaIzdavanja"/></td></tr>
				<tr><th>Opis:</th><td><input type="text" required th:value="${knjiga.kratakOpis}" name="kratakOpis"/></td></tr>
				<tr><th>Broj Stranica:</th><td><input required type="number" th:value="${knjiga.brojStrana}" name="brojStrana"/></td></tr>
				<tr><th>Jezik:</th><td><input type="text" required th:value="${knjiga.jezik}" name="jezik"/></td></tr>
				<tr><th>Ocena:</th><td><input type="number" required th:value="${knjiga.ocena}" name="ocena"/></td></tr>				
				<tr><th>Slika:</th><td><input type="text" required th:value="${knjiga.slikaKnjige}" name="slika"/></td></tr>
				
				<tr>
					<th>Pismo:</th>
					<td>
						<select name="pismo">
							<option value="latinica" th:selected="${#strings.equals(knjiga.pismo, 'latinica')}">latinica</option>
							<option value="cirilica" th:selected="${#strings.equals(knjiga.pismo, 'cirilica')}">cirilica</option>
						</select>
					</td>
				</tr>
				
				
				<tr>
					<th>Tip Poveza:</th>
					<td>
						<select name="tipPoveza">
							<option value="meki" th:selected="${#strings.equals(knjiga.tipPoveza, 'meki')}">meki</option>
							<option value="tvrdi" th:selected="${#strings.equals(knjiga.tipPoveza, 'tvrde')}">tvrdi</option>
						</select>
					</td>
				</tr>
		
				
				<tr>
					<th>žanr:</th>
					<td>
						<th:block th:each="itZanr: ${zanrovi}">
							<input type="checkbox" name="zanrId" th:value="${itZanr.id}" th:checked="${#lists.contains(knjiga.zanrovi, itZanr)}"/><span th:text="${itZanr.naziv}"></span><br>
						</th:block>
					</td>
				</tr>
				<tr><th>cena:</th><td><input type="number" min="5" th:value="${knjiga.cena}" name="cena"/></td></tr>
				<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
			</table>
		</form>
	
	</div>
	
	
	
	
	
	</div>
	
	
	
	
	<script>
		var coll = document.getElementsByClassName("collapsible");
		var i;
		
		for (i = 0; i < coll.length; i++) {
		  coll[i].addEventListener("click", function() {
		    this.classList.toggle("active");
		    var content = this.nextElementSibling;
		    if (content.style.display === "block") {
		      content.style.display = "none";
		    } else {
		      content.style.display = "block";
		    }
		  });
		}
	</script>
	
</body>
</html>