<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/navbar.css"/>

	<title>Knjiga</title>
</head>
<body>
<ul class="navbar">
	<li><a href="prijava.html">prijava</a></li>
	<li><a href="registracija.html">Registracija</a></li>
		<li><a href="Zanrovi">žanrovi</a></li>
		<li><a href="Knjige">Knjige</a></li>
		<li><a>Komentari</a></li>
</ul>

	<div class="container">
	<div th:fragment="centralniDiv">
		<form method="post" action="Knjige/Edit" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
			<input type="hidden" name="id" th:value="${knjiga.id}"/>
			<table class="forma">
				<caption>Knjiga</caption>
				<tr><th>Naziv:</th><td><input required type="text" th:value="${knjiga.naziv}" name="naziv"/></td></tr>
				<tr><th>Autor:</th><td><input required type="text" th:value="${knjiga.autor}" name="autor"/></td></tr>
				<tr><th>Izdavac:</th><td><input required type="text" th:value="${knjiga.izdavackaKuca}" name="izdavac"/></td></tr>
				<tr><th>isbn:</th><td><input readonly th:value="${knjiga.ISBN}" name="isbn"/></td></tr>
				<tr><th>Godina Izdanja:</th><td><input required type="text" th:value="${knjiga.godinaIzdavanja}" name="godinaIzdavanja"/></td></tr>
				<tr><th>Opis:</th><td><input type="text" required th:value="${knjiga.kratakOpis}" name="kratakOpis"/></td></tr>
				<tr><th>Broj Stranica:</th><td><input required type="number" th:value="${knjiga.brojStrana}" name="brojStrana"/></td></tr>
				<tr><th>Jezik:</th><td><input type="text" required th:value="${knjiga.jezik}" name="jezik"/></td></tr>
				<tr><th>Ocena:</th><td><input type="number" required th:value="${knjiga.ocena}" name="ocena"/></td></tr>
				<tr><th>Kolicina:</th><td><input type="number" required th:value="${knjiga.kolicina}" name="kolicina"/></td></tr>
				
				<tr><th>Slika:</th><td><input type="text" required th:value="${knjiga.slikaKnjige}" name="slika"/></td></tr>
				
				<tr>
					<th>Pismo:</th>
					<td>
						<select name="pismo">
							<option value="latinica" th:selected="${#strings.equals(knjiga.pismo, 'latinica')}">latinica</option>
							<option value="cirilica" th:selected="${#strings.equals(knjiga.pismo, 'cirilica')}">cirilica</option>
						</select>
					</td>
				</tr>
				
				
				<tr>
					<th>Tip Poveza:</th>
					<td>
						<select name="tipPoveza">
							<option value="meki" th:selected="${#strings.equals(knjiga.tipPoveza, 'meki')}">meki</option>
							<option value="tvrdi" th:selected="${#strings.equals(knjiga.tipPoveza, 'tvrde')}">tvrdi</option>
						</select>
					</td>
				</tr>
		
				
				<tr>
					<th>žanr:</th>
					<td>
						<th:block th:each="itZanr: ${zanrovi}">
							<input type="checkbox" name="zanrId" th:value="${itZanr.id}" th:checked="${#lists.contains(knjiga.zanrovi, itZanr)}"/><span th:text="${itZanr.naziv}"></span><br>
						</th:block>
					</td>
				</tr>
				<tr><th>cena:</th><td><input type="number" min="5" th:value="${knjiga.cena}" name="cena"/></td></tr>
				<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
			</table>
		</form>
		
		<h2 style="text-align: center">DETALJI O KNJIZI:</h2></br> <span style="font-size: 40px; margin-left: 32%;"  th:text="${knjiga.naziv}"></span>
		<hr>
		<table style="margin-left: 25%; margin-top: 5%; width: 600px; font-size: 21px" class="forma" th:if="${session.prijavljeniKorisnik == null or not session.prijavljeniKorisnik.administrator}">
			<tr><th>Slika:</th><td><img style="width: 300px;height: 340px; padding-left: 11%" th:src="${knjiga.slikaKnjige}"></td>
			<tr><th>Naziv:</th><td th:text="${knjiga.naziv}"></td>
			<tr><th>Autor:</th><td th:text="${knjiga.autor}"></td>
			<tr><th>Izdavac:</th><td th:text="${knjiga.izdavackaKuca}"></td>
			<tr><th>ISBN:</th><td th:text="${knjiga.ISBN}"></td>
			<tr><th>Godina Izdavanja:</th><td th:text="${knjiga.godinaIzdavanja}"></td>
			<tr><th>Kratak Opis:</th><td th:text="${knjiga.kratakOpis}"></td>
			<tr><th>Broj Stranica:</th><td th:text="${knjiga.brojStrana}"></td>
			<tr><th>Tip Poveza:</th><td th:text="${knjiga.tipPoveza}"></td>
			<tr><th>Pismo:</th><td th:text="${knjiga.pismo}"></td>
			<tr><th>Jezik:</th><td th:text="${knjiga.jezik}"></td>
			<tr><th>Ocena:</th><td th:text="${knjiga.ocena}"></td>
			<tr>
				<th>žanr:</th>
				<td>
					<ul>
						<li th:each="itZanr: ${knjiga.zanrovi}"><a th:href="|Zanrovi/Details?id=${itZanr.id}|" th:text="${itZanr.naziv}"></a></li>
					</ul>
				</td>
			</tr>
			<tr><th>cena:</th><td th:text="${knjiga.cena}"></td>
		</table>
		<hr>
	</div>
	</div>
</body>
</html>