<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/tabela.css">
	<link rel="stylesheet" type="text/css" href="css/glavno.css">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/navbar.css"/>
	<title>Korisnici</title>
</head>
<body>
<ul class="navbar">
		<li style="font-family: 'Pacifico', cursive;font-size: 31px;color: white; margin-left: 10px; " ><a href="/Knjizara">Лексикограф</a></li>
		<li th:if="${session.prijavljeniKorisnik == null}"><a th:text="#{index.prijava}" href="prijava.html">prijava</a></li>
		<li th:if="${session.prijavljeniKorisnik == null}" ><a th:text="#{index.registracija}" href="registracija.html">Registracija</a></li>
		<li><a th:text="#{index.zanrovi}" href="Zanrovi">žanrovi</a></li>
		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"><a th:text="#{index.komentari}"  href="Komentari">Komentari</a></li>
		
		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == true}"><a th:text="#{index.specijalniDatumi}"  href="SpecijalniDatum">Specijalni Datumi</a></li>
		
		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator == false}"><a th:text="#{index.korpa}"  href="Korpa">korpa</a></li>
		
		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a th:text="#{index.korisnici}"  href="Korisnici">korisnici</a></li>		
		</ul>

		<div style="background-color: white;">


	<div th:fragment="centralniDiv" class="h-100 row align-items-center">
		<form method="get" style="padding: 10%;">
			<table class="tabela">
				<caption th:text="#{index.korisnici}">Korisnici</caption>
				<tr>
					<th th:text="#{korisnici.korisnicko}">Korisničko ime</th>
					<th th:text="#{korisnici.datumReg}">Datum Registracije</th>
					<th th:text="#{korisnici.administrator}">Administrator</th>
					<th th:text="#{korisnici.blokiran}">Blokiran</th>
				</tr>
				<tr th:each="itKorisnik, status: ${korisnici}">
					<td><a th:href="|Korisnici/Details?korisnickoIme=${itKorisnik.korisnickoIme}|" th:text="${itKorisnik.korisnickoIme}"></a></td>
					<td th:text="${itKorisnik.datumRegistracije}"></td>
					<td th:text="${itKorisnik.administrator}? 'da': 'ne'"></td>
					<td th:text="${itKorisnik.blokiran}? 'da': 'ne'"></td>
				</tr>
			</table>
		</form>
		
		</div>

		<h3 th:text="#{korisnici.karticaCekanje}">Kartice na cekanju</h3>
		<table class="table" style="width: 400px;" th:each="itLojalti, status: ${lojalti}">
			
			<thead style="background-color: #044855; color: white;" th:if="${itLojalti.odobrena == false}">
				<tr>
					<th th:text="#{korisnici.korisnicko}">Broj Poena</th>
					<th>ID</th>
				</tr>
			</thead>
			 <tbody>
			<tr th:if="${itLojalti.odobrena == false}">
					<td th:text="${itLojalti.Korisnik.korisnickoIme}"></td>
					<td th:text="${itLojalti.id}"></td>
					<td><a th:text="#{korisnici.odobri}" th:href="|Korpa/Odobrenje?korisnicko=${itLojalti.korisnik.korisnickoIme}|">Odobri</a></td>
					<td><a th:href="|Korpa/OdbijanjeKartice?id=${itLojalti.id}&korisnicko=${itLojalti.korisnik.korisnickoIme}|">Odbiji</a></td>
					
			</tr>
			</tbody>			
			</table> 
		
		
		
		
		<hr>
		<h3 th:text="#{korisnici.izvestavanja}">Izvestavanja</h3>
		<table class="table tabela" style="border: 0px;margin-left: 20px;">
			<tr><th></th><td>
			<form method="post" action="Korisnici/Izvestavanje" th:if="${session.prijavljeniKorisnik != null}">
			<table class="forma">
				<tr><th><td th:text="#{korisnici.izvestavanja}">Izvestavanje</td></tr>
				<tr><th th:text="#{korisnici.datum1}">Datum 1:</th><td><input type="date" th:value="2021-01-25" required name="datum1"/></td></tr>
				<tr><th th:text="#{korisnici.datum2}">Datum 2:</th><td><input type="date" th:value="2021-02-02" required name="datum2"/></td></tr>								
				<tr><th></th><td><input type="submit" value="Izvestiraj"/></td></tr>
			
			</table>
		</form>
		</table>
	
	</div>
</body>
</html>