<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/tabela.css">
	<link rel="stylesheet" type="text/css" href="css/glavno.css">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/navbar.css"/>
	<title>Korisnici</title>
</head>
<body>
<ul class="navbar">
		<li style="font-family: 'Pacifico', cursive;font-size: 31px;color: white; margin-left: 10px; " ><a href="/Knjizara">Лексикограф</a></li>
		<li th:if="${session.prijavljeniKorisnik == null}"><a href="prijava.html">prijava</a></li>
		<li th:if="${session.prijavljeniKorisnik == null}" ><a href="registracija.html">Registracija</a></li>
		<li><a href="Zanrovi">žanrovi</a></li>
		<li><a href="Korisnici">korisnici</a></li>
		<li th:if="${session.prijavljeniKorisnik != null}" ><a href="Korisnici/Details">Informacije</a></li>
		
		
		<li><a>Komentari</a></li>
</ul>

		<div style="background-color: white;">
		<div th:unless="${session.prijavljeniKorisnik == null}">
			<h3>Prijavljeni ste kao <a th:href="|Korisnici/Details?korisnickoIme=${session.prijavljeniKorisnik.korisnickoIme}|" th:text="${session.prijavljeniKorisnik.korisnickoIme}"></a>.

					<ul>
						<li><a href="Korisnici/Logout">odjava</a></li>
					</ul>
		</div>



	<div th:fragment="centralniDiv">
		<form method="get">
			<table class="tabela">
				<caption>Korisnici</caption>
				<tr>
					<th>Korisničko ime</th>
					<th>Datum Registracije</th>
					<th>Administrator</th>
					<th>Blokiran</th>
				</tr>
				<tr th:each="itKorisnik, status: ${korisnici}">
					<td><a th:href="|Korisnici/Details?korisnickoIme=${itKorisnik.korisnickoIme}|" th:text="${itKorisnik.korisnickoIme}"></a></td>
					<td th:text="${itKorisnik.datumRegistracije}"></td>
					<td th:text="${itKorisnik.administrator}? 'da': 'ne'"></td>
					<td th:text="${itKorisnik.blokiran}? 'da': 'ne'"></td>
				</tr>
			</table>
		</form>
		
		</div>

		<h3>Kartice na cekanju</h3>
		<table class="table" style="width: 400px;" th:each="itLojalti, status: ${lojalti}">
			
			<thead style="background-color: #044855; color: white;" th:if="${itLojalti.odobrena == false}">
				<tr>
					<th>Broj Poena</th>
					<th>Popust koji ste ostvarili</th>
				</tr>
			</thead>
			 <tbody>
			<tr th:if="${itLojalti.odobrena == false}">
					<td th:text="${itLojalti.Korisnik.korisnickoIme}"></td>
					<td th:text="${itLojalti.id}"></td>
					<td><a th:href="|Korpa/Odobrenje?korisnicko=${itLojalti.korisnik.korisnickoIme}|">Odobri</a></td>
			</tr>
			</tbody>			
			</table> 
		
		
		
		
		<hr>
		<h3>Izvestavanja</h3>
		<table class="table tabela" style="border: 0px;margin-left: 20px;">
			<tr><th></th><td>
			<form method="post" action="Korisnici/Izvestavanje" th:if="${session.prijavljeniKorisnik != null}">
			<table class="forma">
				<tr><th><td>Izvestavanje</td></tr>
				<tr><th>Datum1:</th><td><input type="date" th:value="2021-01-25" required name="datum1"/></td></tr>
				<tr><th>Datum2:</th><td><input type="date" th:value="2021-02-02" required name="datum2"/></td></tr>								
				<tr><th></th><td><input type="submit" value="Izvestiraj"/></td></tr>
			
			</table>
		</form>
		</table>
	
	</div>
</body>
</html>