<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/glavno.css">
	
	<title>Žanrovi</title>
</head>
<body>
<div class="container">
<h1>Zanrovi</h1>
<hr>
		<form method="get">
			<table class="tabela">
				<caption>Žanrovi</caption>
				<tr>
					<th>r. br.</th>
					<th>naziv</th>
					<th>Opis</th>
				</tr>
				<tr th:each="itZanr, status: ${zanrovi}">
					<td th:text="${status.index + 1}">1</td>
					<td th:text="${itZanr.naziv}"></td>
					<td th:text="${itZanr.opis}"></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>