	.navbar {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #044855;
	}
	
	.navbar li {
	  float: left;
	  
	}
	
	 .navbar li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 10px 10px;
	  text-decoration: none;
	  margin-bottom: 5px;
	  
	}
	
	.navbar li a:hover {
	  background-color: red;
	}
	
	
.sortable tr:hover{
	background-color: #044855;
	color: white;
}