

table.forma {
	border-collapse: collapse;
	margin: 10px;
}

table.forma caption {
	font-size: 16pt
}

table.forma th, td {
	border: 1px solid Gray;
	padding: 5px;
		  text-align: center;
	  vertical-align: middle;
}

table.forma th {
	  vertical-align: middle;
	text-align: center;
	width: 180px;
	color: white;
	background-color: #044855;
}

table.forma td {
		  text-align: center;
	  vertical-align: middle;
	background-color: White;
	min-width: 280px;
}

table.forma input, textarea, select {
	width: 280px;
	box-sizing: border-box;
}

table.forma input[type="checkbox"] {
	width: 20px;
}

table.forma input[type="radio"] {
	width: 20px;
}

p.greska {
	color: red;
}
