
table.tabela {
	border-collapse: collapse;
	border: 2px solid grey;
}

table.tabela caption {
	font-size: 20pt
}

table.tabela th, td {
	padding: 8px;
	text-align: center;
  	vertical-align: middle;
  	
}

table.tabela td.broj {
	  text-align: center;
	  vertical-align: middle;
}

table.tabela th {
	color: white;
	background-color: #044855;
}

table.tabela tr:nth-child(even) {
	background-color: LightGray;
}

table.tabela input[type="search"] {
	width: 130%;
}
